click==6.6
decorator==4.0.10
Flask==0.11.1
Flask-Admin==1.4.2
gunicorn==19.6.0
infinity==1.4
intervals==0.8.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
requests==2.12.1
six==1.10.0
validators==0.11.1
Werkzeug==0.11.11
WTForms==2.1
WTForms-Components==0.10.0
