#buttonWithText {
  overflow: hidden;
  width: 100%;
}

#buttonWithText:focus {
  outline: none;
}

#slider {
  display: flex;
  width: 200%;
  transition: 0.5s;
}

#slider.expanded {
  transform: translateX(-50%);
}


input:focus,
toggle:focus,
get:focus,
 button:focus {
    outline: none;
}


#toggle {
  flex: 0 0 50%;
}

#input {
  flex: auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

#get {
  flex: none;
}