{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Wikilyitics</h1>
        <p>Get data and visualize page views of wikipedia articles</p>

        <p></p><form id='buttonWithText' action='.' method='post' >

        <div id='slider' class='collapsed'>

            <input class='btn btn-success btn-lg start' type='button' id='toggle' value='Starts your search'>
            <!--<input type='text' name='input' id='input' tabindex='-1' placeholder='username' size=10>-->
            {{ form.name }}
            {{ form.start(class="datepicker") }}
            {{ form.end(class="datepicker") }}
            {{ form.lang(placeholder="--select--") }}
          
            <input class='btn btn-success btn-lg start' type='submit' id='get' tabindex='-1' value='get data'>

        </div>
    </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for message in messages %}
                        <div id="search-title"><h2>{{ message[1] }}</h2></div>
                    {% endfor %}

            {% endif %}
        {% endwith %}
        
    </div>
            <hr />
    <div class="row">
            <div class="col-md-12">
                <div id="views-bar-chart" class="resizable-chart"></div>
            </div>
            <div class="col-md-12">
                <div id="views-line-chart" class="resizable-chart"></div>
            </div>


    </div>
</div>
</div>
<footer>
    <div class="container">
    <p>&copy; Copyright 2016</p>
    </div>
</footer>

{% endblock %}




